In [310]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.simplefilter('ignore')
pd.pandas.set_option('display.max_columns',None)

In [311]:
train_df=pd.read_csv(r"D:\Users\abhisv\Desktop\train.csv")
test_df=pd.read_csv(r"D:\Users\abhisv\Desktop\test.csv")

In [312]:
print(train_df.shape,test_df.shape)

(550068, 12) (233599, 11)

In [313]:
df=pd.concat([train_df,test_df],axis=0,ignore_index=True)

In [314]:
df.head()

,Age,City_Category,Gender,Marital_Status,Occupation,Product_Category_1,Product_Category_2,Product_Category_3,Product_ID,Purchase,Stay_In_Current_City_Years,User_ID
0,0-17,A,F,0,10,3,NaN,NaN,P00069042,8370.0,2,1000001
1,0-17,A,F,0,10,1,6.0,14.0,P00248942,15200.0,2,1000001
2,0-17,A,F,0,10,12,NaN,NaN,P00087842,1422.0,2,1000001
3,0-17,A,F,0,10,12,14.0,NaN,P00085442,1057.0,2,1000001
4,55+,C,M,0,16,8,NaN,NaN,P00285442,7969.0,4+,1000002

In [315]:
df.Product_ID.nunique(),df.User_ID.nunique()

(3677, 5891)

In [316]:
df.drop(['Product_ID','User_ID'],axis=1,inplace=True)

In [317]:
df

,Age,City_Category,Gender,Marital_Status,Occupation,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Stay_In_Current_City_Years
0,0-17,A,F,0,10,3,NaN,NaN,8370.0,2
1,0-17,A,F,0,10,1,6.0,14.0,15200.0,2
2,0-17,A,F,0,10,12,NaN,NaN,1422.0,2
3,0-17,A,F,0,10,12,14.0,NaN,1057.0,2
4,55+,C,M,0,16,8,NaN,NaN,7969.0,4+
5,26-35,A,M,0,15,1,2.0,NaN,15227.0,3
6,46-50,B,M,1,7,1,8.0,17.0,19215.0,2
7,46-50,B,M,1,7,1,15.0,NaN,15854.0,2
8,46-50,B,M,1,7,1,16.0,NaN,15686.0,2
9,26-35,A,M,1,20,8,NaN,NaN,7871.0,1
10,26-35,A,M,1,20,5,11.0,NaN,5254.0,1
11,26-35,A,M,1,20,8,NaN,NaN,3957.0,1
12,26-35,A,M,1,20,8,NaN,NaN,6073.0,1
13,26-35,A,M,1,20,1,2.0,5.0,15665.0,1
14,51-55,A,F,0,9,5,8.0,14.0,5378.0,1
15,51-55,A,F,0,9,4,5.0,NaN,2079.0,1
16,51-55,A,F,0,9,2,3.0,4.0,13055.0,1
17,51-55,A,F,0,9,5,14.0,NaN,8851.0,1
18,36-45,B,M,1,1,1,14.0,16.0,11788.0,1
19,26-35,C,M,1,12,1,5.0,15.0,19614.0,4+
20,26-35,C,M,1,12,5,14.0,NaN,8584.0,4+
21,26-35,C,M,1,12,8,NaN,NaN,9872.0,4+
22,26-35,C,M,1,12,8,NaN,NaN,9743.0,4+
23,26-35,C,M,1,12,8,NaN,NaN,5982.0,4+
24,26-35,C,M,1,12,1,8.0,14.0,11927.0,4+
25,26-35,C,M,0,17,6,8.0,NaN,16662.0,0
26,26-35,C,M,0,17,8,NaN,NaN,5887.0,0
27,26-35,C,M,0,17,5,14.0,NaN,6973.0,0
28,26-35,C,M,0,17,5,8.0,14.0,5391.0,0
29,36-45,B,F,1,1,2,4.0,8.0,16352.0,4+
...,...,...,...,...,...,...,...,...,...,...
783637,26-35,B,F,1,0,9,15.0,NaN,NaN,1
783638,26-35,B,F,1,0,1,5.0,17.0,NaN,1
783639,26-35,A,F,1,7,16,NaN,NaN,NaN,0
783640,51-55,C,M,1,0,8,NaN,NaN,NaN,1
783641,51-55,C,M,1,0,1,15.0,NaN,NaN,1
783642,51-55,C,M,1,0,11,15.0,NaN,NaN,1
783643,51-55,C,M,1,0,1,8.0,17.0,NaN,1
783644,46-50,C,F,0,17,5,NaN,NaN,NaN,1
783645,36-45,C,M,0,0,1,8.0,17.0,NaN,1
783646,26-35,C,F,0,20,1,2.0,NaN,NaN,3
783647,46-50,B,M,1,1,1,2.0,5.0,NaN,1
783648,46-50,B,M,1,1,8,14.0,17.0,NaN,1
783649,36-45,C,M,0,1,15,17.0,NaN,NaN,3
783650,26-35,B,M,1,12,1,11.0,15.0,NaN,2
783651,26-35,B,M,1,12,4,5.0,8.0,NaN,2
783652,26-35,C,M,1,0,1,11.0,16.0,NaN,2
783653,26-35,B,F,0,1,11,NaN,NaN,NaN,1
783654,36-45,C,M,1,6,1,2.0,8.0,NaN,1
783655,18-25,A,M,0,4,1,16.0,NaN,NaN,4+
783656,26-35,C,M,1,17,6,8.0,15.0,NaN,1
783657,26-35,C,M,1,17,2,15.0,NaN,NaN,1
783658,46-50,A,M,0,7,8,NaN,NaN,NaN,3
783659,51-55,B,M,1,13,1,2.0,15.0,NaN,1
783660,26-35,C,F,0,1,6,8.0,NaN,NaN,3
783661,26-35,B,F,1,15,8,NaN,NaN,NaN,4+
783662,26-35,B,F,1,15,8,NaN,NaN,NaN,4+
783663,26-35,B,F,1,15,5,8.0,NaN,NaN,4+
783664,26-35,B,F,1,15,1,5.0,12.0,NaN,4+
783665,46-50,C,F,0,1,10,16.0,NaN,NaN,4+
783666,46-50,B,F,1,0,4,5.0,NaN,NaN,4+

In [318]:
def null_valuetreat(df):
    null_value_table=df.isna().sum()/df.shape[0]*100
    print('Total columns are:',null_value_table)
    retained_column=null_value_table[null_value_table<30].index
    print('The retained_columns are:',retained_column)
    drop_column=null_value_table[null_value_table>30].index
    print('The columns to be dropped are:',drop_column)
    numerical=[i for i in df if df[i].dtypes!='O']
    print('The numerical columns are:',numerical)
    cat=[i for i in df if df[i].dtypes=='O']
    print('The categorical are:',cat)
    #Lets check the discrete and continous variables in numerical
    discrete=[i for i in df.columns if len(df[i].unique())<25]
    print('The discrete number of columns are:',len(discrete))
    continous=[i for i in df.columns if len(df[i].unique())>25]
    print('The continous number of columns are:',len(continous))
    print('continous columns:',continous)
    return df,cat,numerical,discrete,continous

In [319]:
df,cat,numerical,discrete,continous=null_valuetreat(df)

Total columns are: Age                            0.000000
City_Category                  0.000000
Gender                         0.000000
Marital_Status                 0.000000
Occupation                     0.000000
Product_Category_1             0.000000
Product_Category_2            31.388587
Product_Category_3            69.648078
Purchase                      29.808452
Stay_In_Current_City_Years     0.000000
dtype: float64
The retained_columns are: Index(['Age', 'City_Category', 'Gender', 'Marital_Status', 'Occupation',
       'Product_Category_1', 'Purchase', 'Stay_In_Current_City_Years'],
      dtype='object')
The columns to be dropped are: Index(['Product_Category_2', 'Product_Category_3'], dtype='object')
The numerical columns are: ['Marital_Status', 'Occupation', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Purchase']
The categorical are: ['Age', 'City_Category', 'Gender', 'Stay_In_Current_City_Years']
The discrete number of columns are: 9
The continous number of columns are: 1
continous columns: ['Purchase']

In [320]:
df.drop(['Product_Category_2','Product_Category_3'],axis=1,inplace=True)

In [321]:
#Lets do some encoding
gender_dict={'M':0,'F':1}
df['Gender']=df['Gender'].apply(lambda x:gender_dict[x])
df['Gender'].value_counts()

0    590031
1    193636
Name: Gender, dtype: int64

In [322]:
df.City_Category.unique()

array(['A', 'C', 'B'], dtype=object)

In [323]:
city_dummy=pd.get_dummies(df['City_Category'],drop_first=True)

In [324]:
df=pd.concat([df,city_dummy],axis=1)

In [327]:
df.drop('City_Category',axis=1,inplace=True)

KeyError: "['City_Category'] not found in axis"

In [326]:
#city_dict={'A':0,'B':1,'C':2}
#df['City_Category']=df['City_Category'].apply(lambda x:city_dict[x])

In [328]:
df.Age.unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [329]:
age_dict={'0-17':0, '55+':1, '26-35':2, '46-50':3, '51-55':4, '36-45':5, '18-25':6}
df.Age=df.Age.apply(lambda x:age_dict[x])

In [330]:
prefixes='+'
(df[df.Stay_In_Current_City_Years.str.endswith(tuple(prefixes))].shape[0]/df.shape[0])*100

15.39824951159102

In [331]:
df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].map(lambda x:x.rstrip('+'))

In [332]:
(df.Purchase.isna().sum()/df.shape[0])*100

29.8084518041464

In [333]:
df['Purchase'].fillna(df['Purchase'].median(),inplace=True)

In [334]:
(df.Purchase.isna().sum()/df.shape[0])*100

0.0

In [335]:
y=df[['Purchase']]
x=df

In [336]:
x.drop('Purchase',axis=1,inplace=True)

In [337]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [338]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((548566, 8), (548566, 1), (235101, 8), (235101, 1))

In [339]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge

In [340]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [341]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [342]:
score=r2_score(y_test,y_pred)
score

0.08410513991400381

In [343]:
corr_matrix=df.corr(method='pearson')

In [344]:
corr_matrix

,Age,Gender,Marital_Status,Occupation,Product_Category_1,B,C
Age,1.000000,0.001278,-0.079586,-0.041506,-0.012859,0.039722,-0.013213
Gender,0.001278,1.000000,0.010945,-0.116505,0.046208,0.005399,0.000180
Marital_Status,-0.079586,0.010945,1.000000,0.023563,0.019579,-0.002804,0.034377
Occupation,-0.041506,-0.116505,0.023563,1.000000,-0.008441,-0.011721,0.035255
Product_Category_1,-0.012859,0.046208,0.019579,-0.008441,1.000000,-0.003863,-0.012870
B,0.039722,0.005399,-0.002804,-0.011721,-0.003863,1.000000,-0.572552
C,-0.013213,0.000180,0.034377,0.035255,-0.012870,-0.572552,1.000000

In [ ]:
from sklearn.boo