In [6]:
list1=[1,2,4,3]
list2=[1,2,3,4]
list1.sort()
list2.sort()
if list1==list2:
    print("Both lists are identical")
else:
    print("Lists are not identical")

Both lists are identical

In [13]:
list1=[1,2,3]
list2=[1,2,3]
list1==list2

True

In [31]:
word1='Apple'
word2='Apple'
word1==word2

True

In [30]:
a=165
b=sum(list(map(int,str(a))))
print(b)

12

In [36]:
a=[1,2,3,4,5,6]
a.pop()
a

[1, 2, 3, 4, 5]

In [37]:
a="welcome to python"
a.split()

['welcome', 'to', 'python']

In [39]:
x=120
print("%f"%x)

120.000000

In [45]:
float(4+int(2.39)%2)

4.0

In [46]:
int(2.39)

2

In [64]:
x=22.19
print("%5.2f"%x)

22.19

In [67]:
X="Abhishek"
print("%56s",X)

%56s Abhishek

In [69]:
4^12

8

In [74]:
4%3

1

In [82]:
x=122
print("-%06d"%x)

-000122

In [83]:
'%.2f'%(1/3.0)

'0.33'

In [ ]:
'{0:.2f}'.format(1/3.0)

In [92]:
round(-0.5)

0

In [96]:
"My name is '%s' and i'm %d" %('john', 12)

"My name is 'john' and i'm 12"

In [113]:
x=3.3456789
'%s' %x,str(x)

('3.3456789', '3.3456789')

In [115]:
x=3.34967545364
'%f|%e|%g'%(x,x,x)

'3.349675|3.349675e+00|3.34968'

In [ ]:
#hello-how-are-you

In [123]:
print('hello' +'-' 'how' +'-' 'are' +'-' 'you')

hello-how-are-you

In [125]:
print('hello'+'-'+'how-are-you')

hello-how-are-you

In [126]:
22%3

1

In [128]:
import math
help(math.trunc)

Help on built-in function trunc in module math:

trunc(x, /)
    Truncates the Real x to the nearest Integral toward 0.

    Uses the __trunc__ magic method.

In [135]:
~~~~~5

-6

In [144]:
float(22//3+3/3)

8.0

In [146]:
float('inf')

inf

In [149]:
d = {0: 'a', 1: 'b', 2: 'c'}
for x, y in d.items():
    print(x, y)

0 a
1 b
2 c

In [151]:
d={0:'a',1:'b',2:'c'}
print(d.items())

dict_items([(0, 'a'), (1, 'b'), (2, 'c')])

In [155]:
d=0,1,2
for i in d:
    print(i)

0
1
2

In [158]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

0
1
2
3
4

In [159]:
for i in '':
    print(i)

In [165]:
def lis(l):
    l.insert(6,10)
    print('list inside the function',l)
l=[1,2,3,4,5,6]
lis(l)
print('list outside the function',l)

list inside the function [1, 2, 3, 4, 5, 6, 10]
list outside the function [1, 2, 3, 4, 5, 6, 10]

In [166]:
def lis(l):
    l=[1,2,3,4]
    l.append(10)
    print('list inside the function',l)
l=[1,2,3,4,5,6]
lis(l)
print('list outside the function',l)

list inside the function [1, 2, 3, 4, 10]
list outside the function [1, 2, 3, 4, 5, 6]

In [168]:
class tester:
    def __init__(self, id):
        self.id = str(id)
        id="224"
 
temp = tester(12)
print(temp.id)

12

In [ ]:
x = ['ab', 'cd']
for i in x:
    x.append(i.upper())
print(x)

In [179]:
x = 'abcd'
for i in range(len(x)):
    print (i)

0
1
2
3

In [191]:
x='abcd'
for i in range(len(x)):
    x[i].upper()
    print(x)

abcd
abcd
abcd
abcd

In [189]:
x='abcd'
x[0].upper()

'A'

In [193]:
a='helle'
a.rfind('e')

4

In [200]:
class A:
    def Hi(self):
        print('Hi')
class B(A):
    def Hello(self):
        print('Hello')
class C(B):
    def Bye(self):
        print('Bye')
b=B()
a=A()
c=C()
a.Hi()
b.Hello()
b.Hi()
c.Bye()
c.Hello()
c.Hi()

Hi
Hello
Hi
Bye
Hello
Hi

In [224]:
class test:
    __a=100
    def drive(self):
        print("driving")
        print(self.__a)
t=test()
t.drive()

driving
100

In [223]:
class employee:
    def __init__(self,name,add):
        self.name=name
        self.add=add
    def display(self):
        print("name is:",self.name)
        print("address is:",self.add)
e=employee('Abhi','Bangalore')
e.display()

name is: Abhi
address is: Bangalore

In [227]:
def f(x):
    def f1(*args, **kwargs):
        print("*"* 5)
        x(*args, **kwargs)
        print("*"* 5)
    return f1

In [228]:
x = "abcdef"
i = "a"
while i in x:
    x = x[1:]
    print(i, end = " ")

a

In [236]:
a=[1,2,3,4,5,6]
print(a[:-2])

[1, 2, 3, 4]

In [237]:
a=[1,2,3,4]
sum(a)

10

In [238]:
print("xyyzxyzxzxyy".count('xyy', -10, -1))

0

In [243]:
a="xyyzxyzxzxyy"
a.count('xyy',-10,-1)

0

In [244]:
print('1Rn@'.lower())

1rn@

In [250]:
print("Hello {0} and {1}".format(('', 'b')))

IndexError: tuple index out of range

In [254]:
a='python'
a[-4:-1]

'tho'

In [255]:
a[::-1]

'nohtyp'

In [256]:
a='abhishek'
a.split('i')

['abh', 'shek']

In [260]:
'#'.join(a)

'a#b#h#i#s#h#e#k'

In [263]:
a.find('i')

3

In [266]:
a=[1,2,3,[4,5]]
a[3][0]

4

In [268]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [270]:
a=[1,2,3,4,5]
del a[3]
a

[1, 2, 3, 5]

In [272]:
a=[1,2,3,4]
for i in a:
    print('E')
else:
    print('NE')

E
E
E
E
NE

In [274]:
usr=int(input('Enter the input'))
usrid=[1,2,3,4]
if usr in usrid:
    print('Access apporved')
else:
    print('Access denied')

Enter the input2
Access apporved

In [275]:
for i in range(1,10,3):
    print(i)

1
4
7

In [283]:
for i in range(1,100):
    if i==50:
        pass
        print('this can be skipped')
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
this can be skipped
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [291]:
def details(name,add='mysore'):
    print("name is :", name)
    print('address is:',add)
details('abhi')

name is : abhi
address is: mysore

In [292]:
func1=lambda a,b:a+b
print(func1(10,20))

30

In [311]:
try:
    import abhi
    raise name error('abhi')

SyntaxError: invalid syntax (<ipython-input-311-98b9ca709039>, line 3)

In [317]:
import sqlite3
conn=sqlite3.connect('abhishek.db')
print('opened database successfully')

opened database successfully

In [320]:
conn.execute('''create table company
                (ID PRIMARY KEY,
                NAME TEXT,
                AGE INT);''')

OperationalError: table company already exists

In [338]:
conn.execute("insert into company values (2,'abhii',27)");
conn.commit()

In [346]:
for row in conn.execute("select ID,NAME,age from company"):
    print (row)

(1, 'abhi', 26)
(2, 'abhii', 27)

In [348]:
conn.execute("update company set NAME='shek' where ID=1");

In [349]:
for row in conn.execute("select ID,NAME,age from company"):
    print (row)

(1, 'shek', 26)
(2, 'abhii', 27)