In [63]:
#All fundamental data types are immutable int,float,complex,bool,string
#0-256 objects are alloctaed by python virtual machine, anything above 257 new objects are created. 
#above 257 the comparision also not possible.
#Bytes immutable
#Byte array mutable
#int string bool the reuseability is present, but for floating and complex the resue is not possible.
#lIST-ORDER IS IMP, DUPLICATES ARE ALLOWED, DIFF DATA TYPES OBJECT ARE USED, MUTABLE (Append and extend is possible)
#TUPLE- Same as list, but it is immutable
#RANGE- commonly used data type immutable
#SET=Order is not imp, dups are not allowed, mutable indexing is not possible in set (mutable means add and remove)
#add and remove is possible in set
#Frozen set immutable
#Dict key value pair, update is used in dict. mutable
#d.keys(),d.items(),d.values()
#d1={} empty dict
#d1=set{} empty set

In [62]:
d1={1:'a',2:'b'}
d2={3:'c'}
d1.update(d2)
d1

{1: 'a', 2: 'b', 3: 'c'}

In [3]:
a="Ernst"
a[7:8]

''

In [20]:
a=[]
a

[]

In [50]:
a=[1,2,3,4]
a[0]=10
a

[10, 2, 3, 4]

In [5]:
a=[1,2,3,4]
a=np.array(a)
a/2

array([0.5, 1. , 1.5, 2. ])

In [19]:
a=[1,2,3,4,5,6,7,8]   
a[2:5:-1] #If step size is 1 then end-1
#If step size is -1 then end+1

[]

In [7]:
a=(1,2,3,4)
a(10)

TypeError: 'tuple' object is not callable

In [8]:
a='Abhishek'
a[0]='a'
print(a)

TypeError: 'str' object does not support item assignment

In [64]:
list=[i for i in range(1,10)]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list=[i for i in range(1,11)]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
a,b=[int(i) for i in input('enter two values').split(' ')]
print(a,b)

enter two values2 3
2 3

In [48]:
import random
randomlist = []
for i in range(0,10):
    n = random.randint(1,30)
    randomlist.append(n)
print(randomlist)

[9, 12, 30, 5, 15, 16, 22, 22, 15, 28]

In [20]:
for i in range(1,10):
    if i%2==0:
        print('even')
    else:
        print('odd')

odd
even
odd
even
odd
even
odd
even
odd

In [25]:
#Prime or not a prime
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
for num in range(lower,upper + 1):
    for i in range(2,num):
        if (num%i)==0:
            break
    else:
        print(num)

Enter lower range: 4
Enter upper range: 10
5
7

In [23]:
num=int(input('Enter a value '))
for i in range(2,num):
    if num%i==0:
        print('Not prime')
        break
else:
    print('prime')

Enter a value 7
prime

In [17]:
my_list = [[4,2,6],[98,43,78],[23,0,42]] #Creating a single list
output=[]
for i in my_list:
   output=output+i
print(output)

[4, 2, 6, 98, 43, 78, 23, 0, 42]

In [13]:
my_list = [[4,2,6],[98,43,78],[23,0,42]]
output=[]
for i in my_list:
    print(i)
    output=output+i
print(output)

[4, 2, 6]
[98, 43, 78]
[23, 0, 42]
[4, 2, 6, 98, 43, 78, 23, 0, 42]

In [27]:
list=[4, 2, 6, 98, 43, 78, 23, 0, 42] #sublisting
sublist=[list[i:i+2] for i in range(0,len(list),2)]
sublist

[[4, 2], [6, 98], [43, 78], [23, 0], [42]]

In [19]:
output=[]
for i in my_list:
    output.extend(i)
print(output)

[4, 2, 6, 98, 43, 78, 23, 0, 42]

In [15]:
import pandas as pd
df=pd.read_csv(r"D:\Users\abhisv\Desktop\Startups_Expense.csv",sep=',')
print(df.count())
dups=df.drop_duplicates(subset=['State']) #dropping dups
print(dups.count())

R&D Spend          50
Administration     50
Marketing Spend    50
State              50
Profit             50
dtype: int64
R&D Spend          3
Administration     3
Marketing Spend    3
State              3
Profit             3
dtype: int64

In [ ]:
select * from table groupby name having count(name)>2

In [31]:
import pandas as pd
df=pd.read_csv(r"D:\Users\abhisv\Desktop\Startups_Expense.csv",sep=',')
df.drop_duplicates(subset=['State'],keep='last')
#To get dups dataset
#df[df.duplicated(subset=['State'])]

    R&D Spend  Administration  Marketing Spend       State    Profit
46    1315.46       115816.21        297114.46     Florida  49490.75
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [17]:
#Q1- Give a small example of variable length keyword argument
def kwargsexample(**kwargs):
    for k,v in kwargs.items():
        print(type(kwargs))
        print(k,v)

In [18]:
kwargsexample(a=10,b=20)

<class 'dict'>
a 10
<class 'dict'>
b 20

In [36]:
#Q2- Give a small example of variable length argument (Non keyword argument)
def args(*n):
    for x in n:
        print(x**2)

In [37]:
args(10,20,30)#Instead of adding variable and then executing a program each time, you can use args to get directly in function call.

100
400
900

In [26]:
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n+1):
        c=a+b
        a=b
        b=c
        print(c)
fib(5)

0
1
1
2
3
5

In [22]:
def facto(n):
    factorial=1
    for i in range(1,n+1):
        factorial=factorial*i
    print(factorial)
facto(5)

120

In [55]:
def palindrome(n):
    return str(n)==str(n)[::-1]
n=input('Enter a string')
if palindrome(n):
    print(palindrome)
else:
    n1=n
    while not palindrome(n1):
        n1=int(n1)-1
    print('the next palindrome value is ',n1)

Enter a string123
the next palindrome value is  121

In [56]:
#perfect square
import math
def perfectsquare(n):
    root=math.sqrt(n)
    return n==root**2
n=int(input('Enter a value'))
if perfectsquare(n):
    print('yes')
else:
    print('no')

Enter a value4
yes

In [57]:
l=[1,2,3,4,5]
l.sort()
print('second largest value is ',l[-2])

second largest value is  4

In [60]:
l=[1,2,3,4,5]
max([i for i in l if i!=max(l)])

4

In [61]:
l=['cat','dog','cat','dog','sheep','sheep','sheep']
from collections import Counter
c=Counter(l)
print(c)

Counter({'sheep': 3, 'cat': 2, 'dog': 2})

In [63]:
a='Abhishek'
d={}
for x in a:
    d[x]=d.get(x,0)+1
for k,v in d.items():
    print(k,v)

A 1
b 1
h 2
i 1
s 1
e 1
k 1

In [ ]:
year=int(input('Enter a year :'))
if (year%4)==0:
    if (year%100)==0:
        if (year%400)==0:
            print('Leap year')
        else:
            print('Not a Leap year')
    else:
        print('Leap year')
else:
    print('Not a leap year')

In [1]:
s=input('Enter a string')
words=[]
s1=s.split()
for word in s1:
    print(word)
    words.append(word)
print(tuple(reversed(words)))

Enter a stringabhi shek
abhi
shek
('shek', 'abhi')

In [19]:
thistuple=(1,2,3)
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df=pd.read_csv(r"D:\Users\abhisv\Documents\Metro bank\gas_prices.csv")

In [2]:
df.shape

(19, 11)

In [3]:
df.head()

,Year,Australia,Canada,France,Germany,Italy,Japan,Mexico,South Korea,UK,USA
0,1990,NaN,1.87,3.63,2.65,4.59,3.16,1.00,2.05,2.82,1.16
1,1991,1.96,1.92,3.45,2.90,4.50,3.46,1.30,2.49,3.01,1.14
2,1992,1.89,1.73,3.56,3.27,4.53,3.58,1.50,2.65,3.06,1.13
3,1993,1.73,1.57,3.41,3.07,3.68,4.16,1.56,2.88,2.84,1.11
4,1994,1.84,1.45,3.59,3.52,3.70,4.36,1.48,2.87,2.99,1.11

In [ ]:
#Lets see the variation price