In [138]:
import numpy as np

In [139]:
import pandas as pd

In [140]:
df=pd.read_csv(r"C:\Users\abhisv.CORP\3D Objects\home_credit_default_risk\application_train.csv")

In [141]:
df1=df.sample(1000)

In [142]:
df1.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
155489,280238,0,Cash loans,F,Y,Y,2,369000.0,781920.0,42417.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
222407,357634,0,Cash loans,F,N,Y,1,67500.0,247500.0,19566.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
217286,351757,0,Cash loans,F,N,Y,0,85500.0,315666.0,22446.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
104490,221265,0,Cash loans,F,N,N,1,180000.0,276277.5,21510.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
194087,325055,0,Revolving loans,M,Y,Y,0,225000.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0

In [157]:
y=df1['AMT_CREDIT']

In [158]:
x=df1.drop('AMT_CREDIT',axis=1)

In [159]:
x=x[x.describe().columns]

In [160]:
x=x[x.var().sort_values().tail(10).index]

In [161]:
x.fillna(20,inplace=True)

In [162]:
xt=x.values.T

In [163]:
x=x.values

In [164]:
test=np.dot(x,xt)

In [165]:
from numpy.linalg import inv

In [166]:
xe=np.dot(xt,inv(test))

In [167]:
np.dot(xe,y)

array([-4.91722413e+02,  3.31156864e+01, -2.53513652e+01, -9.72413976e+00,
        2.16784940e+00,  2.71195930e-01, -5.27448106e+00,  2.72263692e+01,
        1.92183827e+01, -1.97508242e+01])