In [1]:
import pandas as pd

In [9]:
df=pd.read_csv(r"D:\home_credit_default_risk\application_train.csv")

In [10]:
df=df.sample(1000)

In [13]:
df.shape

(1000, 122)

In [17]:
numerical=df.mean().index

In [18]:
numerical=list(df.mean().index)

In [22]:
print(numerical,len(numerical))

['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'] 106

In [25]:
cat=[]
for i in df.columns:
    if i not in numerical:
        cat.append(i)
print(cat,len(cat))

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'] 16

In [29]:
print(len(numerical),len(cat),len(df.columns))

106 16 122

In [39]:
numerical_cont=[]
numerical_class=[]
for i in df[numerical].columns:
    if df[i].nunique()<8:
        numerical_class.append(i)
    else:
        numerical_cont.append(i)
print(len(numerical),len(numerical_cont),len(numerical_class))

106 63 43

In [41]:
cat_class=[]
cat_cont=[]
for i in df[cat].columns:
    if df[i].nunique()<8:
        cat_class.append(i)
    else:
        cat_cont.append(i)
print(len(cat),len(cat_class),len(cat_cont))

16 14 2

In [52]:
nullvalue_percentage=(df[numerical_cont].isna().sum()/df[numerical_cont].shape[0])*100

In [57]:
nullvalue_percentage[nullvalue_percentage<30]

SK_ID_CURR                     0.0
AMT_INCOME_TOTAL               0.0
AMT_CREDIT                     0.0
AMT_ANNUITY                    0.1
AMT_GOODS_PRICE                0.2
REGION_POPULATION_RELATIVE     0.0
DAYS_BIRTH                     0.0
DAYS_EMPLOYED                  0.0
DAYS_REGISTRATION              0.0
DAYS_ID_PUBLISH                0.0
HOUR_APPR_PROCESS_START        0.0
EXT_SOURCE_2                   0.0
EXT_SOURCE_3                  18.6
OBS_30_CNT_SOCIAL_CIRCLE       0.3
OBS_60_CNT_SOCIAL_CIRCLE       0.3
DAYS_LAST_PHONE_CHANGE         0.0
AMT_REQ_CREDIT_BUREAU_MON     12.2
AMT_REQ_CREDIT_BUREAU_YEAR    12.2
dtype: float64

In [59]:
#nullvalue_percentage[nullvalue_percentage>30]

In [60]:
for i in df[numerical_cont]:
    df[i].fillna(df[i].median(),inplace=True)

In [62]:
df[numerical_cont].isna().sum().head(5)

SK_ID_CURR          0
AMT_INCOME_TOTAL    0
AMT_CREDIT          0
AMT_ANNUITY         0
AMT_GOODS_PRICE     0
dtype: int64

In [63]:
nullvalue_percentage=(df[numerical_cont].isna().sum()/df[numerical_cont].shape[0])*100

In [70]:
nullvalue_percentage[nullvalue_percentage<30].head()

TARGET             0.0
CNT_CHILDREN       0.0
FLAG_MOBIL         0.0
FLAG_EMP_PHONE     0.0
FLAG_WORK_PHONE    0.0
dtype: float64

In [68]:
nullvalue_percentage=(df[numerical_class].isna().sum()/df[numerical_class].shape[0])*100

In [71]:
nullvalue_percentage[nullvalue_percentage<30].head()

TARGET             0.0
CNT_CHILDREN       0.0
FLAG_MOBIL         0.0
FLAG_EMP_PHONE     0.0
FLAG_WORK_PHONE    0.0
dtype: float64

In [72]:
nullvalue_percentage[nullvalue_percentage>30]

Series([], dtype: float64)

In [81]:
df[numerical_class]['TARGET'].value_counts().index[0]

0

In [84]:
for i in df[numerical_class]:
    df[i].fillna(df[i].value_counts().index[0],inplace=True)

In [86]:
df[numerical_class].isna().sum().head()

TARGET             0
CNT_CHILDREN       0
FLAG_MOBIL         0
FLAG_EMP_PHONE     0
FLAG_WORK_PHONE    0
dtype: int64

In [87]:
print(len(cat),len(cat_class),len(cat_cont))

16 14 2

In [88]:
df[cat_cont].isna().sum()

OCCUPATION_TYPE      304
ORGANIZATION_TYPE      0
dtype: int64

In [89]:
nullvalpercent=(df[cat_cont].isna().sum()/df[cat_cont].shape[0])*100

In [91]:
nullvalpercent[nullvalpercent>30]

OCCUPATION_TYPE    30.4
dtype: float64

In [92]:
for i in df[cat_cont].columns:
    df[i].fillna(df[i].value_counts().index[0],inplace=True)

In [93]:
df[cat_cont].isna().sum()

OCCUPATION_TYPE      0
ORGANIZATION_TYPE    0
dtype: int64

In [94]:
df[cat_class].isna().sum()

NAME_CONTRACT_TYPE              0
CODE_GENDER                     0
FLAG_OWN_CAR                    0
FLAG_OWN_REALTY                 0
NAME_TYPE_SUITE                 5
NAME_INCOME_TYPE                0
NAME_EDUCATION_TYPE             0
NAME_FAMILY_STATUS              0
NAME_HOUSING_TYPE               0
WEEKDAY_APPR_PROCESS_START      0
FONDKAPREMONT_MODE            683
HOUSETYPE_MODE                495
WALLSMATERIAL_MODE            501
EMERGENCYSTATE_MODE           468
dtype: int64

In [97]:
for i in df[cat_class].columns:
    df[i].fillna(df[i].value_counts().index[0],inplace=True)

In [98]:
df[cat_class].isna().sum()

NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
NAME_TYPE_SUITE               0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
NAME_HOUSING_TYPE             0
WEEKDAY_APPR_PROCESS_START    0
FONDKAPREMONT_MODE            0
HOUSETYPE_MODE                0
WALLSMATERIAL_MODE            0
EMERGENCYSTATE_MODE           0
dtype: int64

In [103]:
df.isna().sum()

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [106]:
pd.get_dummies(df[cat_class]).shape

(1000, 58)

In [107]:
pd.get_dummies(df[cat_cont]).shape

(1000, 64)