In [ ]:
##Q1

In [6]:
import pandas as pd
df1=pd.read_excel(r"D:\Users\abhisv\Documents\Metro bank\INMOBI\Assignment - 1 (1).xlsx")

In [7]:
df1.head()

        Date Country Advertiser Account    Spends
0 2020-12-19     USA             9a9b24  119090.0
1 2020-12-20     USA             9a9b24  112809.0
2 2020-12-26     USA             9a9b24  101680.0
3 2020-12-13     USA             9a9b24  106725.0
4 2020-12-12     USA             9a9b24   92708.0

In [8]:
df2=pd.read_excel(r"D:\Users\abhisv\Documents\Metro bank\Book1.xlsx")
df2.head()

          Country Region
0             USA    NaN
1          Canada    NaN
2           Spain     EU
3  United Kingdom     EU
4           India   APAC

In [9]:
df2.fillna('NA',inplace=True)

In [10]:
df2

          Country Region
0             USA     NA
1          Canada     NA
2           Spain     EU
3  United Kingdom     EU
4           India   APAC
5       Indonesia   APAC

In [11]:
df=pd.merge(df1,df2,on='Country',how='inner')

In [15]:
df.head(2)

        Date Country Advertiser Account    Spends Region
0 2020-12-19     USA             9a9b24  119090.0     NA
1 2020-12-20     USA             9a9b24  112809.0     NA

In [ ]:
##Q2- Average daily spends for each account

In [17]:
df['Advertiser Account'].nunique()

83

In [22]:
df.groupby('Advertiser Account')[['Spends']].mean().head(2)

                        Spends
Advertiser Account
003bde              438.682262
01347d              391.719662

In [ ]:
##Q3- For each region, top 3 accounts by spend

In [80]:
df_NA=df.groupby(['Region','Advertiser Account'])[['Spends']].sum().nlargest(3,'Spends')

In [81]:
df_NA

                                 Spends
Region Advertiser Account
NA     9a9b24              2.628114e+06
       fd61ae              1.745500e+06
       1b1bdc              1.676122e+06

In [82]:
df_2=df[df['Region']=='EU']

In [84]:
df_EU=df_2.groupby(['Region','Advertiser Account'])[['Spends']].sum().nlargest(3,'Spends')
df_EU

                                 Spends
Region Advertiser Account
EU     9a9b24              83510.401173
       1b1bdc              31748.985370
       575232              29058.033085

In [ ]:
df_3=df[df['Region']=='APAC']

In [85]:
df_APAC=df_2.groupby(['Region','Advertiser Account'])[['Spends']].sum().nlargest(3,'Spends')
df_APAC

                                 Spends
Region Advertiser Account
EU     9a9b24              83510.401173
       1b1bdc              31748.985370
       575232              29058.033085

In [88]:
df.rank().head(2)

     Date  Country  Advertiser Account  Spends  Region
0  3775.0   5550.5              4324.5  7708.0  5973.0
1  4053.5   5550.5              4324.5  7704.0  5973.0

In [89]:
df['Rank by spends']=df['Spends'].rank(ascending=True)

In [90]:
df.head()

        Date Country Advertiser Account    Spends Region  Rank by spends
0 2020-12-19     USA             9a9b24  119090.0     NA          7708.0
1 2020-12-20     USA             9a9b24  112809.0     NA          7704.0
2 2020-12-26     USA             9a9b24  101680.0     NA          7702.0
3 2020-12-13     USA             9a9b24  106725.0     NA          7703.0
4 2020-12-12     USA             9a9b24   92708.0     NA          7694.0

In [92]:
df.sort_values('Spends',ascending=False).head()

         Date Country Advertiser Account    Spends Region  Rank by spends
19 2020-12-07     USA             9a9b24  119743.0     NA          7710.0
5  2020-12-23     USA             9a9b24  119274.0     NA          7709.0
0  2020-12-19     USA             9a9b24  119090.0     NA          7708.0
14 2020-12-17     USA             9a9b24  116453.0     NA          7707.0
10 2020-12-25     USA             9a9b24  114825.0     NA          7706.0

In [93]:
df_1=df.groupby(['Region','Advertiser Account'])[['Spends']].sum().nlargest(3,'Spends')

In [101]:
df_1['Rank by spends']=df_1['Spends'].rank(ascending=True)

In [97]:
df_1.sort_values('Spends',ascending=False)

                                 Spends  Rank by spends
Region Advertiser Account
NA     9a9b24              2.628114e+06             3.0
       fd61ae              1.745500e+06             2.0
       1b1bdc              1.676122e+06             1.0

In [1]:
import logging
logging.basicConfig(filename='log.txt',level=logging.DEBUG)
print('Python logging demo')
logging.debug("debug message")
logging.info("info message")
logging.warning("warning message")
logging.error("error message")
logging.critical("critical message")

logging.exception('msg')

Python logging demo

In [4]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\abhisv.CORP'

In [3]:
def avg(marks):
    assert len(marks) != 0
    return sum(marks)/len(marks)

marks = [10]
print("Average of mark1:",avg(marks))
print(len(marks),sum(marks))

Average of mark1: 10.0
1 10

In [8]:
import pickle
class Employee:
    def __init__(self,eno,ename,eadd): ##Constructor
        self.eno=eno
        self.ename=ename
        self.eadd=eadd
    def display(self): #My own object
        print(self.eno,self.ename,self.eadd)
with open ('emp.dat','wb') as f: #opening a file
    e=Employee(100,'Abhi','BENGALURU')
    pickle.dump(e,f)
    print('Pickling employee object completed')
with open ('emp.dat','rb',) as f:
    obj=pickle.load(f)
    print('Unpickling')
    obj.display()

Pickling employee object completed
Unpickling
100 Abhi BENGALURU

In [24]:
import pickle
f=open('empppp.dat','rb')
print('Emp details')
while True:
    try:
        obj=pickle.load(f)
        obj.display()
    except EOFError:
        print('No such file')
        break
        f.close()

Emp details
No such file

In [138]:
class Student:
    def __init__(self,name,no,address):
        print('Constructor decleration')
        self.name=name
        self.no=no
        self.address=address
    def get_values(self):
        print('The name is ',self.name)
        print('The no is ',self.no)
        print('The address is ',self.address)
S=Student('Abhi',100,'Bangalore')
S.get_values()
print(S.name)

Constructor decleration
The name is  Abhi
The no is  100
The address is  Bangalore
Abhi

In [27]:
class Student:
    cname='xyz' ##Class variable or Static variable
    def __init__(self,name,no): ##name and no are instance variable (Used along with Self)
        x=10 ##Local variable (Inside a class or method) or Method variable.
        self.name=name
        self.no=no
    def display(self): ##Instance Method (If we are accessing the instance variable)
        print('The name is ',self.name)
        print('The no is ',self.no)
    @classmethod ##To access class variable data
    def getcollegename(cls): ##Reference variable
        print('The college is ',cls.cname)
        
    ##@staticmethod ##Not related to class or object
    def findavg(x,y):
        print('Average ',(x+y)/2)
s1=Student('Abhi','100') ##Instance methods should be called using object names only.
s2=Student('shek','100')
s3=Student('sv','100')
s1.display() #main for calling on object
s2.display()
s3.display()
Student.getcollegename() ##Using class name the class method can be accessed
Student.findavg(10,20) ##Using the Classname the static method can also be accessed

The name is  Abhi
The no is  100
The name is  shek
The no is  100
The name is  sv
The no is  100
The college is  xyz
Average  15.0

In [159]:
class test:
    def __init__(self):
        self.a=10
        self.b=20
        self.c=30
    def m1(self):
        self.d=40
    def m2(self):
        self.e=50
t1=test() ##Total 4 variables are coming, with constructor 3 variables and m1 variable
t1.m1()
t2=test() ##Total 4 variables are coming, with constructor 3 variables and m2 variable
t2.m2()
t2.s=100 ##2 variables by s and y
t2.y=200 ##outside the class by using object reference or class name

print(t1.__dict__)
print(t2.__dict__)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 10, 'b': 20, 'c': 30, 'e': 50, 's': 100, 'y': 200}

In [28]:
class test:
    def __init__(self):
        self.a=10
        self.b=20
t1=test()
t2=test()
t1.a=888
t1.b=999
print(t1.a,t1.b)
print(t2.a,t2.b)

888 999
10 20

In [48]:
class test:
    x=10
    def m1(self):
        self.y=20
t1=test()
t2=test()
t1.x=888
t2.x=999
t1.m1()
t2.m1()
test.x=1000 ##using classname we can call outside the class
print(test.x)
print(t1.x)
print(t1.x,t1.y)
print(t2.x,t2.y)

1000
888
888 20
999 20

In [31]:
##inside the class the static variable can be accessed by using classname,self,cls and
##outside the class by using object reference and classname.
class test:
    a=10
    def __init__(self): ###It is a pyhton special method.
        print('Inside constructor')
        print(test.a)
        print(self.a)
    def m1(self): ###It is a instance method, if self is used.
        print('Instance method')
        print(test.a)
        print(self.a)
    @classmethod
    def m2(cls): ###It is a class method.
        print('Inside classmethod')
        print(cls.a)
        print(test.a)
    @staticmethod
    def m3(): ###It is a static method. while calling static method compulsory it should be called via class name only.
        print('Inside static method')
        print(test.a)
t=test()
t.m1()
t.m2()
t.m3()
print('outside class method')
print(test.a)
print(t.a)

Inside constructor
10
10
Instance method
10
10
Inside classmethod
10
10
Inside static method
10
outside class method
10
10

In [49]:
##Modifying the static variable value.
class test:
    a=10
    def __init__(self):#Inside constructor by using the class name only we can modify the static variable.
        test.a=20
    @classmethod
    def m1(xyz):##Inside the class method by using classname and class method variable we can modify.
        test.a=30
        xyz.a=40
    @staticmethod
    def m2():
        test.a=50##inside static method also by using cloass name we can modify the value
t=test()
t.m1()
t.m2()
test.a=60##using classname we can call outside the class
print(test.a)
t.a=70 ###new instance variable creation with object reference t with value of a 70.
##If we try to change by using self or object reference then new instance variable will be created 
print(t.a)

##Deleting can be done with the help of class name.

60
70

In [185]:
##Banking application
x=100 ##Gloabl variable
class test:
    x=777
    def m1(self):
        x=10##Gloabl variable can be accessed via instance method.
        print(x)
    def m2(self):
        print(x)
t=test()
t.m1()
t.m2()

10
100

#Class variable can be accessed via class name and self.
#static variable can be accessed via object reference and class name.
#Global variable can be accessed directly anywhere.
#Local variable gets highest priority.
#Global variable can be accessed inside a method by using global keyword.

In [190]:
x=100
class test:
    x=200
    def m1(self):
        x=1000 #Local variable will have highest priority.
        print(x)
        print(self.x)
    def m2(self):
        print(x)
        print(test.x)
t=test()
t.m1()
t.m2()

1000
200
100
200

In [202]:

#Global variable can be accessed inside a method by using global keyword.
class test:
    x=200
    def m1(self):
        global x #we can use the global variable anywhere using global keyword. #can use within the class also.
        x=1000 #Local variable will have highest priority.
        print("The value global variable" ,x)
        print("The value of static or class variable is" ,self.x)
    def m2(self):
        print("The value of global variable is" ,x)
        print("The value of static variable is " ,test.x)
t=test()
t.m1()
t.m2()
print("The value of global variable is" ,x,"And it can be accessed outside the class")

The value global variable 1000
The value of static or class variable is 200
The value of global variable is 1000
The value of static variable is  200
The value of global variable is 1000 And it can be accessed outside the class

In [205]:
###Bank application

In [ ]:
import sys
class Customer:
    '''Customer class with bank related operations'''
    Bankname='ABHIBANK' ##static variable
    
    
    def __init__(self,name,balance=0):
        self.name=name
        self.balance=balance
    def deposit(self,amt):
        self.balance=self.balance+amt
        print('After deposit the balance is ',self.balance)
    def withdraw(self,amt):
        if amt>self.balance:
            print('Insufficient funds cannot perform this operation')
            sys.exit()##stop the program
        #else: ##No need of else here (analysed it)
        self.balance=self.balance-amt
        print('After withdraw the balance is:',self.balance)
            
print('Welcome to', Customer.Bankname) ##Calling static variable/class variable(Bank name) via class name.
name=input('Enter your name')
c=Customer(name)
while True:
    print('d-Deposit\nw-withdraw\ne-Exit')
    option=input('Choose your option')
    if option=='d' or option=='D': ##we can also choose d.lower()
        amt=float(input('Enter the amount to deposit'))
        c.deposit(amt)
    elif option=='w' or option=='W':
        amt=float(input('Enter the amount to withdraw'))
        c.withdraw(amt)
    elif option=='e' or option=='E':
        print('Thanks for using the application')
        sys.exit()
    else:
        print('Choose valid option')

In [3]:
##When to go for instance method
##Inside method implementation if am using atleast one instance variable then this method is always gng to consider as instance method.(one particular object)
##if u r using oly static variable but not instance variable, class method. (By using cls variable we can able to access static variable.)
##If u r not using any instance or static variable then go for static method.