In [7]:
class First:
    def f1(self):
        print('Hello world')
a=First()
a.f1()

Hello world

In [17]:
# A Sample class with init method 
class Test123: 
  
    # init method or constructor  
    def __init__(self, name): 
        self.name = name 
  
    # Sample Method  
    def say_hi(self): 
        print('Hello, my name is', self.name) 
  
p = Test123('mllabs')
p.say_hi()

Hello, my name is mllabs

In [18]:
class CSStudent: 
  
    # Class Variable 
    stream = 'mlllabs'             
  
    # The init method or constructor 
    def __init__(self, roll): 
    
        # Instance Variable     
        self.name = roll        
   
# Objects of CSStudent class 
a = CSStudent(101) 
b = CSStudent(102) 
   
print(a.stream)  # prints "cse" 
print(b.stream)  # prints "cse" 
print(a.name)    # prints 101 
   
# Class variables can be accessed using class 
# name also 
print(CSStudent.stream) # prints "cse"

mlllabs
mlllabs
101
mlllabs

In [22]:
class circle:
    def __init__(self,r,pi):
        self.r=r
        self.pi=pi
    def f1(self):
        return self.pi*self.r**2

In [23]:
x=circle(2,4)

In [24]:
x.f1()

16

In [25]:
class Animal:
    def __init__(self):
        print("Animal created")

    def whoAmI(self):
        print("Animal")

    def eat(self):
        print("Eating")


class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [26]:
d = Dog()

Animal created
Dog created

In [27]:
d.whoAmI()

Dog

In [28]:
d.eat()

Eating

In [29]:
d.bark()

Woof!

In [30]:
import numpy as np
import seaborn as sns
df=sns.load_dataset("titanic")

class models_machine_leanring:
        def __init__(self,df):
            self.df=df
        def null_values(self):
            return self.df.isna().sum()
        def outliers(self):
            return self.df/3   
df_outs=models_machine_leanring(df)
df_outs.null_values()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [42]:
import numpy as np
import seaborn as sns
df=sns.load_dataset("titanic")

class models_machine_leanring:
        def __init__(self,df):
            self.df=df
        def null_values(self):
            print(self.df.isna().sum())
            ## null value percentage     
            null_value_table=(self.df.isna().sum()/self.df.shape[0])*100
            ## null value percentage beyond threshold drop , else treat the columns 

            retained_columns=null_value_table[null_value_table<int(input("Enter the null value threshold percentage the columns below which to be retained:"))].index
            # if any variable as null value greater than input(like 30% of the data) value than those variable are consider as drop
            drop_columns=null_value_table[null_value_table>int(input("Enter the null value threshold percentage the columns above which to be dropped:"))].index
            self.df.drop(drop_columns,axis=1,inplace=True)
            len(self.df.isna().sum().index)
            cont=self.df.describe().columns
            cat=[i for i in self.df.columns if i not in self.df.describe().columns]
            for i in cat:
                self.df[i].fillna(self.df[i].value_counts().index[0],inplace=True)
            for i in cont:
                self.df[i].fillna(self.df[i].median(),inplace=True)
            print(self.df.isna().sum())
            return self.df,cat,cont

In [43]:
x=models_machine_leanring(df)

In [44]:
x.null_values()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
Enter the null value threshold percentage the columns below which to be retained:30
Enter the null value threshold percentage the columns above which to be dropped:30
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

(     survived  pclass     sex   age  sibsp  parch      fare embarked   class  \
 0           0       3    male  22.0      1      0    7.2500        S   Third
 1           1       1  female  38.0      1      0   71.2833        C   First
 2           1       3  female  26.0      0      0    7.9250        S   Third
 3           1       1  female  35.0      1      0   53.1000        S   First
 4           0       3    male  35.0      0      0    8.0500        S   Third
 5           0       3    male  28.0      0      0    8.4583        Q   Third
 6           0       1    male  54.0      0      0   51.8625        S   First
 7           0       3    male   2.0      3      1   21.0750        S   Third
 8           1       3  female  27.0      0      2   11.1333        S   Third
 9           1       2  female  14.0      1      0   30.0708        C  Second
 10          1       3  female   4.0      1      1   16.7000        S   Third
 11          1       1  female  58.0      0      0   26.5500        S   First
 12          0       3    male  20.0      0      0    8.0500        S   Third
 13          0       3    male  39.0      1      5   31.2750        S   Third
 14          0       3  female  14.0      0      0    7.8542        S   Third
 15          1       2  female  55.0      0      0   16.0000        S  Second
 16          0       3    male   2.0      4      1   29.1250        Q   Third
 17          1       2    male  28.0      0      0   13.0000        S  Second
 18          0       3  female  31.0      1      0   18.0000        S   Third
 19          1       3  female  28.0      0      0    7.2250        C   Third
 20          0       2    male  35.0      0      0   26.0000        S  Second
 21          1       2    male  34.0      0      0   13.0000        S  Second
 22          1       3  female  15.0      0      0    8.0292        Q   Third
 23          1       1    male  28.0      0      0   35.5000        S   First
 24          0       3  female   8.0      3      1   21.0750        S   Third
 25          1       3  female  38.0      1      5   31.3875        S   Third
 26          0       3    male  28.0      0      0    7.2250        C   Third
 27          0       1    male  19.0      3      2  263.0000        S   First
 28          1       3  female  28.0      0      0    7.8792        Q   Third
 29          0       3    male  28.0      0      0    7.8958        S   Third
 ..        ...     ...     ...   ...    ...    ...       ...      ...     ...
 861         0       2    male  21.0      1      0   11.5000        S  Second
 862         1       1  female  48.0      0      0   25.9292        S   First
 863         0       3  female  28.0      8      2   69.5500        S   Third
 864         0       2    male  24.0      0      0   13.0000        S  Second
 865         1       2  female  42.0      0      0   13.0000        S  Second
 866         1       2  female  27.0      1      0   13.8583        C  Second
 867         0       1    male  31.0      0      0   50.4958        S   First
 868         0       3    male  28.0      0      0    9.5000        S   Third
 869         1       3    male   4.0      1      1   11.1333        S   Third
 870         0       3    male  26.0      0      0    7.8958        S   Third
 871         1       1  female  47.0      1      1   52.5542        S   First
 872         0       1    male  33.0      0      0    5.0000        S   First
 873         0       3    male  47.0      0      0    9.0000        S   Third
 874         1       2  female  28.0      1      0   24.0000        C  Second
 875         1       3  female  15.0      0      0    7.2250        C   Third
 876         0       3    male  20.0      0      0    9.8458        S   Third
 877         0       3    male  19.0      0      0    7.8958        S   Third
 878         0       3    male  28.0      0      0    7.8958        S   Third
 879         1       1  female  56.0      0      1   83.1583        C   First
 880         1       2  female  25.0      0      1   26.0000        S  Second
 881         0       3    male  33.0      0      0    7.8958        S   Third
 882         0       3  female  22.0      0      0   10.5167        S   Third
 883         0       2    male  28.0      0      0   10.5000        S  Second
 884         0       3    male  25.0      0      0    7.0500        S   Third
 885         0       3  female  39.0      0      5   29.1250        Q   Third
 886         0       2    male  27.0      0      0   13.0000        S  Second
 887         1       1  female  19.0      0      0   30.0000        S   First
 888         0       3  female  28.0      1      2   23.4500        S   Third
 889         1       1    male  26.0      0      0   30.0000        C   First
 890         0       3    male  32.0      0      0    7.7500        Q   Third

        who  adult_male  embark_town alive  alone
 0      man        True  Southampton    no  False
 1    woman       False    Cherbourg   yes  False
 2    woman       False  Southampton   yes   True
 3    woman       False  Southampton   yes  False
 4      man        True  Southampton    no   True
 5      man        True   Queenstown    no   True
 6      man        True  Southampton    no   True
 7    child       False  Southampton    no  False
 8    woman       False  Southampton   yes  False
 9    child       False    Cherbourg   yes  False
 10   child       False  Southampton   yes  False
 11   woman       False  Southampton   yes   True
 12     man        True  Southampton    no   True
 13     man        True  Southampton    no  False
 14   child       False  Southampton    no   True
 15   woman       False  Southampton   yes   True
 16   child       False   Queenstown    no  False
 17     man        True  Southampton   yes   True
 18   woman       False  Southampton    no  False
 19   woman       False    Cherbourg   yes   True
 20     man        True  Southampton    no   True
 21     man        True  Southampton   yes   True
 22   child       False   Queenstown   yes   True
 23     man        True  Southampton   yes   True
 24   child       False  Southampton    no  False
 25   woman       False  Southampton   yes  False
 26     man        True    Cherbourg    no   True
 27     man        True  Southampton    no  False
 28   woman       False   Queenstown   yes   True
 29     man        True  Southampton    no   True
 ..     ...         ...          ...   ...    ...
 861    man        True  Southampton    no  False
 862  woman       False  Southampton   yes   True
 863  woman       False  Southampton    no  False
 864    man        True  Southampton    no   True
 865  woman       False  Southampton   yes   True
 866  woman       False    Cherbourg   yes  False
 867    man        True  Southampton    no   True
 868    man        True  Southampton    no   True
 869  child       False  Southampton   yes  False
 870    man        True  Southampton    no   True
 871  woman       False  Southampton   yes  False
 872    man        True  Southampton    no   True
 873    man        True  Southampton    no   True
 874  woman       False    Cherbourg   yes  False
 875  child       False    Cherbourg   yes   True
 876    man        True  Southampton    no   True
 877    man        True  Southampton    no   True
 878    man        True  Southampton    no   True
 879  woman       False    Cherbourg   yes  False
 880  woman       False  Southampton   yes  False
 881    man        True  Southampton    no   True
 882  woman       False  Southampton    no   True
 883    man        True  Southampton    no   True
 884    man        True  Southampton    no   True
 885  woman       False   Queenstown    no  False
 886    man        True  Southampton    no   True
 887  woman       False  Southampton   yes   True
 888  woman       False  Southampton    no  False
 889    man        True    Cherbourg   yes   True
 890    man        True   Queenstown    no   True

 [891 rows x 14 columns],
 ['sex',
  'embarked',
  'class',
  'who',
  'adult_male',
  'embark_town',
  'alive',
  'alone'],
 Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object'))