In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter('ignore')
pd.set_option('display.max_columns',50)

In [41]:
df=pd.read_csv(r"D:\Users\abhisv\Desktop\phpmPOD5A.csv")

In [42]:
df.shape

(32769, 10)

In [43]:
df.head()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,target
0,39353,85475,117961,118300,123472,117905,117906,290919,117908,1
1,17183,1540,117961,118343,123125,118536,118536,308574,118539,1
2,36724,14457,118219,118220,117884,117879,267952,19721,117880,1
3,36135,5396,117961,118343,119993,118321,240983,290919,118322,1
4,42680,5905,117929,117930,119569,119323,123932,19793,119325,1

In [44]:
df.describe()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE,target
count,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000
mean,42923.916171,25988.957979,116952.627788,118301.823156,118912.779914,125916.152644,170178.369648,183703.408893,119789.430132,0.942110
std,34173.892702,35928.031650,10875.563591,4551.588572,18961.322917,31036.465825,69509.462130,100488.407413,5784.275516,0.233539
min,0.000000,25.000000,4292.000000,23779.000000,4674.000000,117879.000000,4673.000000,3130.000000,117880.000000,0.000000
25%,20299.000000,4566.000000,117961.000000,118102.000000,118395.000000,118274.000000,117906.000000,118363.000000,118232.000000,1.000000
50%,35376.000000,13545.000000,117961.000000,118300.000000,118921.000000,118568.000000,128696.000000,119006.000000,118570.000000,1.000000
75%,74189.000000,42034.000000,117961.000000,118386.000000,120535.000000,120006.000000,235280.000000,290919.000000,119348.000000,1.000000
max,312153.000000,311696.000000,311178.000000,286791.000000,286792.000000,311867.000000,311867.000000,308574.000000,270691.000000,1.000000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32769 entries, 0 to 32768
Data columns (total 10 columns):
RESOURCE            32769 non-null int64
MGR_ID              32769 non-null int64
ROLE_ROLLUP_1       32769 non-null int64
ROLE_ROLLUP_2       32769 non-null int64
ROLE_DEPTNAME       32769 non-null int64
ROLE_TITLE          32769 non-null int64
ROLE_FAMILY_DESC    32769 non-null int64
ROLE_FAMILY         32769 non-null int64
ROLE_CODE           32769 non-null int64
target              32769 non-null int64
dtypes: int64(10)
memory usage: 2.5 MB

In [46]:
df['target'].value_counts()

1    30872
0     1897
Name: target, dtype: int64

In [47]:
df1=df[df['target']==1]

In [48]:
df2=df[df['target']==0].sample(df1.shape[0],replace=True)

In [49]:
df1.shape,df2.shape

((30872, 10), (30872, 10))

In [50]:
df=df1.append(df2)

In [51]:
df.shape

(61744, 10)

In [55]:
def nullvalue(df):
    nullvaluetable=df.isna().sum()/df.shape[0]*100
    print('The total columns are',len(nullvaluetable))
    drop_cols=nullvaluetable[nullvaluetable>30].index
    print('The columns to be dropped is',len(drop_cols))
    print(drop_cols)#As thsi features have high missing values, lets delete the features, otherwise replacing them makes results skewed.
    df.drop(df[drop_cols],axis=1,inplace=True)
    print('The columns after dropping the drop_cols are',len(df.columns))
    retained_cols=nullvaluetable[nullvaluetable<30].index
    print('The columns to be retained is',len(retained_cols))
    features_with_nan=[feature for feature in df.columns if df[feature].isna().sum()>1]
    print('The columns to be with na are',len(features_with_nan))
    numerical=[feature for feature in df if df[feature].dtypes!='O']
    print('The numerical columns are', len(numerical))
    cat=[feature for feature in df if df[feature].dtypes=='O']
    print('The cat columns are',len(cat))
    year_feature=[feature for feature in numerical if 'Yr' in feature or'Year' in feature]
    print('The year columns are',len(year_feature))
    #Lets check continous and discrete variables in numerical variables
    discrete=[feature for feature in numerical if len(df[feature].unique())<20 and feature not in year_feature]
    print('The discrete number of columns are',len(discrete))
    continous=[feature for feature in numerical if feature not in discrete+year_feature]
    print('The continous number of columns are',len(continous))
    return df,cat,numerical,year_feature,discrete,continous,features_with_nan

In [56]:
df,cat,numerical,year_feature,discrete,continous,features_with_nan=nullvalue(df)

The total columns are 10
The columns to be dropped is 0
Index([], dtype='object')
The columns after dropping the drop_cols are 10
The columns to be retained is 10
The columns to be with na are 0
The numerical columns are 10
The cat columns are 0
The year columns are 0
The discrete number of columns are 1
The continous number of columns are 9