In [3]:
import pandas as pd
df1=pd.read_excel(r"D:\Users\abhisv\Downloads\Assignment - 1.xlsx")

In [4]:
df1.head()

        Date Country Advertiser Account    Spends
0 2020-12-19     USA             9a9b24  119090.0
1 2020-12-20     USA             9a9b24  112809.0
2 2020-12-26     USA             9a9b24  101680.0
3 2020-12-13     USA             9a9b24  106725.0
4 2020-12-12     USA             9a9b24   92708.0

In [7]:
df1.shape

(7710, 4)

In [5]:
df2=pd.read_excel(r"D:\Users\abhisv\Music\Book1.xlsx")

In [6]:
df2.head()

          Country Region
0             USA    NaN
1          Canada    NaN
2           Spain     EU
3  United Kingdom     EU
4           India   APAC

In [9]:
pd.merge(df1,df2,how='inner',on='Country')

           Date Country Advertiser Account         Spends Region
0    2020-12-19     USA             9a9b24  119090.000000    NaN
1    2020-12-20     USA             9a9b24  112809.000000    NaN
2    2020-12-26     USA             9a9b24  101680.000000    NaN
3    2020-12-13     USA             9a9b24  106725.000000    NaN
4    2020-12-12     USA             9a9b24   92708.000000    NaN
5    2020-12-23     USA             9a9b24  119274.000000    NaN
6    2020-12-24     USA             9a9b24   94555.000000    NaN
7    2020-12-18     USA             9a9b24   97319.000000    NaN
8    2020-12-22     USA             9a9b24   99249.000000    NaN
9    2020-12-06     USA             9a9b24   90514.000000    NaN
10   2020-12-25     USA             9a9b24  114825.000000    NaN
11   2020-12-21     USA             9a9b24   88190.000000    NaN
12   2020-12-16     USA             9a9b24   98288.000000    NaN
13   2020-12-11     USA             9a9b24   81337.000000    NaN
14   2020-12-17     USA             9a9b24  116453.000000    NaN
15   2020-12-14     USA             9a9b24   95346.000000    NaN
16   2020-12-27     USA             9a9b24  114390.000000    NaN
17   2020-12-08     USA             9a9b24   99714.000000    NaN
18   2020-12-09     USA             9a9b24   84229.000000    NaN
19   2020-12-07     USA             9a9b24  119743.000000    NaN
20   2020-12-15     USA             9a9b24  100206.000000    NaN
21   2020-12-27     USA             fd61ae   86819.000000    NaN
22   2020-12-10     USA             9a9b24   92479.000000    NaN
23   2020-12-28     USA             9a9b24   70166.000000    NaN
24   2020-12-30     USA             9a9b24   49345.000000    NaN
25   2020-12-19     USA             fd61ae   44806.000000    NaN
26   2020-12-29     USA             9a9b24   40165.000000    NaN
27   2020-12-26     USA             fd61ae   62933.000000    NaN
28   2020-12-18     USA             fd61ae   50259.000000    NaN
29   2020-12-24     USA             1b1bdc   71247.000000    NaN
...         ...     ...                ...            ...    ...
7680 2020-12-22   Spain             8c7c89       0.000620     EU
7681 2020-12-19   Spain             bc2aa1       0.000593     EU
7682 2020-12-29   Spain             8c7c89       0.000554     EU
7683 2020-12-28   Spain             8c7c89       0.000496     EU
7684 2021-01-01   Spain             8c7c89       0.000446     EU
7685 2020-12-10   Spain             61819b       0.000418     EU
7686 2020-12-15   Spain             b0d2cd       0.000405     EU
7687 2020-12-13   Spain             61819b       0.000264     EU
7688 2020-12-25   Spain             8c7c89       0.000218     EU
7689 2020-12-20   Spain             bc2aa1       0.000198     EU
7690 2020-12-30   Spain             8c7c89       0.000170     EU
7691 2020-12-31   Spain             8c7c89       0.000154     EU
7692 2020-12-12   Spain             61819b       0.000154     EU
7693 2020-12-16   Spain             01347d       0.000131     EU
7694 2020-12-13   Spain             b36a6c       0.000100     EU
7695 2020-12-07   Spain             b36a6c       0.000050     EU
7696 2020-12-12   Spain             b36a6c       0.000000     EU
7697 2020-12-19   Spain             01347d       0.000000     EU
7698 2020-12-20   Spain             7bb19a       0.000000     EU
7699 2020-12-15   Spain             b36a6c       0.000000     EU
7700 2020-12-20   Spain             01347d       0.000000     EU
7701 2020-12-09   Spain             b36a6c       0.000000     EU
7702 2021-01-02   Spain             f9b3e8       0.000000     EU
7703 2020-12-21   Spain             01347d       0.000000     EU
7704 2021-01-01   Spain             01347d       0.000000     EU
7705 2020-12-31   Spain             01347d       0.000000     EU
7706 2020-12-11   Spain             b36a6c       0.000000     EU
7707 2020-12-21   Spain             7bb19a       0.000000     EU
7708 2020-12-10   Spain             b36a6c       0.000000     EU
7709 2020-12-09   Spain             7bb19a       0.000000     EU

[7710 rows x 5 columns]