In [67]:
data ={
'Product':['Coffee','chocolate','cashew','cocoa','chocolate','Coffee','cocoa','cocoa','Chocolate'],
'Brand': ['A','B','A','A','A','B','B','C','C'],
'Weight(g)':[500,1500,200,2000,120,500,500,1000,500],
'Quantity': [12,10,165,10,100,20,200,320,150],
'Good Sale': ['No','Yes','Yes','Yes','No','No','Yes','Yes','No']
}

In [68]:
import pandas as pd
data=pd.DataFrame(data)

In [65]:
data['Product'] = data['Product'].str.upper()

In [75]:
data['Product']=data['Product'].apply(lambda x:x.upper())

In [31]:
data['Product']

0       COFFEE
1    CHOCOLATE
2       CASHEW
3        COCOA
4    CHOCOLATE
5       COFFEE
6        COCOA
7        COCOA
8    CHOCOLATE
Name: Product, dtype: object

In [32]:
data.groupby('Product')['Weight(g)'].sum()

Product
CASHEW        200
CHOCOLATE    2120
COCOA        3500
COFFEE       1000
Name: Weight(g), dtype: int64

In [55]:
data = {' Customer':[1,2,3,4,5,6,7,8,9,10,11],
'Material ID':[64578,64579,64580,64581,64582,64583,64584,64585,64586,64587,64588],
'Bill Quantity':[100,58,36,45,145,369,768,39,89,0,143],
'Bill Type':['sale','sale','return','return','sale','return','sale','sale','return','sale','sale'],
'Product location':['bangalore','Mumbai','chennai','hydrabed','chennai','chennai','mumbai','Bangalore','','bangalore','delhi'],
'month of sale':['july','february','November','June','october','december','June','july','augest','augest','May']}

In [56]:
data=pd.DataFrame(data)

In [57]:
data

,Customer,Material ID,Bill Quantity,Bill Type,Product location,month of sale
0,1,64578,100,sale,bangalore,july
1,2,64579,58,sale,Mumbai,february
2,3,64580,36,return,chennai,November
3,4,64581,45,return,hydrabed,June
4,5,64582,145,sale,chennai,october
5,6,64583,369,return,chennai,december
6,7,64584,768,sale,mumbai,June
7,8,64585,39,sale,Bangalore,july
8,9,64586,89,return,,augest
9,10,64587,0,sale,bangalore,augest
10,11,64588,143,sale,delhi,May

In [ ]:
 split the data 0,1,2,3,4,5   6,7,8,9,10
    o/p 0,6,1,7,2,8,3,9,4,10,5

In [ ]:
4)   0th index materiall id and 1st index material id concatenate and put into 0th index

2,3
4,5
6,7
oly concatenated row we need.

In [50]:
import numpy as np
data['divide4']=np.where(((data['Product location']==['bangalore']) and (data['Product location']==['chennai'])),data['Bill Quantity']/4,0)

ValueError: Lengths must match to compare

In [53]:
data['abc']=[data['Bill Quantity']/4 for i in data['Product location'] if i=='bangalore']

ValueError: Length of values does not match length of index