In [3]:
import seaborn as sns
df=sns.load_dataset('titanic')
df.shape

(891, 15)

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [13]:
numerical=df.mean().index

In [14]:
numerical

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'adult_male',
       'alone'],
      dtype='object')

In [16]:
numerical_class=[]
numerical_cont=[]
for i in df[numerical].columns:
    if df[i].nunique()<8:
        numerical_class.append(i)
    else:
        numerical_cont.append(i)

In [23]:
df[numerical_cont].isna().sum()
for i in df[numerical_cont]:
    df[i].fillna(df[i].median(),inplace=True)

In [24]:
df[numerical_cont].isna().sum()

age     0
fare    0
dtype: int64

In [25]:
df['age'].mean()

29.36158249158249

In [26]:
df[df['age']>27].shape[0]

554

In [27]:
df[df['age']>27].shape[0]/df.shape[0]

0.621773288439955

In [49]:
num=df['age'].sample(100,random_state=30).mean()-df['age'].mean()

In [64]:
den=df['age'].sample(100).std()/np.sqrt(100)

In [65]:
z_score=num/den

In [66]:
z_score

-1.1688203133712585

In [ ]:
#####

In [100]:
import seaborn as sns
df=sns.load_dataset('titanic')

In [101]:
df.describe().columns

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object')

In [102]:
df['fare'].isna().sum()

0

In [103]:
s1=df['fare'].sample(20,random_state=30)

In [104]:
s2=df['fare'].sample(20,random_state=20)

In [105]:
sp2=19*pow((s1.std()),2)+19*pow((s2.std()),2)/38

In [106]:
sp2

26947.74323557905

In [107]:
numerator=s1.mean()-s2.mean()

In [108]:
numerator

-0.2689600000000105

In [109]:
denominator=np.sqrt(sp2*(1/20+1/20))

In [110]:
denominator

51.91121577807541

In [111]:
t_score=numerator/denominator

In [112]:
t_score

-0.005181153936941797

In [2]:
from platform import python_version
print(python_version())

3.7.3